@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
    --text : #ffffff;
    --active : #038C65;
    --primary : #02735E;
    --secondary : #025959;
    --secondaryalpha : #02595900;
    --background : #00362b;
    --backgroundalpha : #00362b53;
    --gradient : #011526;
    --gradientalpha25 : #01152650;
  }

*{
    font-family: 'Mukta', sans-serif;
}
body, html {
    height: 100%;
    background-size: 120%;
    background-image: url(./images/bg2.jpg);
    animation: stars 16s linear infinite;
    
  }
.image {
    
    backdrop-filter: blur(6px);
    height:100%;  
    width: 100%;
  }
  .image1 {
    
    backdrop-filter: blur(6px);
    height: fit-content;
    
  }
  .navbar{
    position: absolute !important;
    top: 0 !important;
  }

@keyframes stars{
    0%{
        background-position: 0% center;

    }
    50%{
        background-position: 50% center;

    }
    100%{
        background-position: 100% center;

    }
}

.purpleunderlinehover
{
    transition-duration: 0.15s;
    color: var(--primary); text-decoration-color: var(--secondaryalpha);
}

.purpleunderlinehover:hover
{
    transition-duration: 0.15s;
    color: var(--primary); text-decoration-color: var(--secondary);
    transition: all .1s linear; 
    transform: scale(1.1); 
}

.purpleHeader{
    color: var(--primary);
}

.purpleHeaderanimation {
    --color1 : #00ff88;
    --color2 : #02735E;
    background: linear-gradient(to right, #02735E 20%, #00ff88 40%, #00ff88 60%, #02735E 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;

  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.iconColor{
    fill:var(--primary);
    transition: all .1s linear; 
}

.iconColor:hover{
    fill:var(--active);
    transition: all .1s linear; 
    transform: scale(1.1); 
}

.sharp-corner{
    border-radius: 0;
}

.semi-transparent-background-with-15corner
{
    background-color: rgba(53, 51, 61, 0.178);
    border-radius: 15px;
    border-image: 
    linear-gradient(
      to bottom, 
      var(--primary), 
      rgba(0, 0, 0, 0)
    ) 1 6;
    border-width: 5px;
    border-style: solid;
}

.semi-transparent-background-number2-with-0corner
{
    background-color: rgba(29, 26, 38, 0.735);
    border-radius: 0px;
    border-image: 
    linear-gradient(
      to bottom, 
      var(--primary), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-width: 5px;
    border-style: solid;
}


.semi-transparent-background-number2-with-15corner
{
    
    background-color: rgba(14, 20, 16, 0.62);
    border-radius: 15px;
    border-image: 
    linear-gradient(
      to bottom, 
      #00ff88,
      #02735E,
      #02735E,
      #02735E
    ) 1 100%;
    animation: gradient 1s linear infinite;
    border-width: 5px;
    border-style: solid;
    backdrop-filter: blur(4px);

}

@keyframes gradient {
	0% {
        border-image: 
        linear-gradient(
          to bottom, 
          #00ff88,
          #02735E,
          #02735E,
          #02735E
        ) 1 100%;
	}
    25% {
        border-image: 
        linear-gradient(
          to bottom, 
          #02735E,
          #00ff88,
          #02735E,
          #02735E,

        ) 1 100%;
	}
	50% {
        border-image: 
        linear-gradient(
          to bottom, 
          #02735E,
          #02735E,
          #00ff88,
          #02735E,

        ) 1 100%;
	}
	75% {
        border-image: 
        linear-gradient(
          to bottom, 
          #02735E,
          #02735E,
          #02735E,
          #00ff88

        ) 1 100%;
	}
    100% {
        border-image: 
        linear-gradient(
          to bottom, 
          #02735E,
          #02735E,
          #02735E,
          #02735E
        ) 1 100%;
	}
}
.purple-gray-background-transparent{
    background-color: var(--background);
    backdrop-filter: blur(5px);
}

.purple-gray-background{
    background-color: var(--background);
}

.purple-button{
    background-color: var(--primary);
    border-color: var(--primary);
}

.purple-button:hover{
    background-color: var(--active);
    border-color: var(--primary);
    transition: all .1s linear; 
    transform: scale(1.1); 
}

.purple-button2{
    background-color: var(--primary);
    border-color: var(--primary);
}

.purple-button2:hover{
    background-color: var(--active);
    border-color: var(--primary);
    transition: all .1s linear; 
    transform: scale(1.05); 
}

.white-text{
    color: white;
}

.navbar-custom-color
{
    background-color: var(--gradientalpha25);
}

.center-me{
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

.font-size-24{
    font-size: 18px;
    font-weight: 800;
}

.movemedown{
    position: absolute;
    bottom: 0;
    right: 0;
}

.purpleactive{
    transition-duration: 0.15s;
    color:var(--primary);
    fill: var(--primary);
    text-decoration: solid;
    text-decoration-color: rgba(191, 0, 255, 0);
    font-weight: 1000;
    font-size: 16px;
}

.purpleactive:hover{
    transition-duration: 0.15s;
    color:var(--active);
    fill: var(--active);
    font-weight: 1000;
    font-size: 16px;
    transition: all .1s linear; 
    transform: scale(1.1);
}

.growOnHover{
    transition: all .1s linear; 
    transform: scale(1);
}

.growOnHover:hover{
    transition: all .1s linear; 
    transform: scale(1.1);
    border-bottom: 2px solid;
}

.growOnHover2 svg{
    transition: all .1s linear; 
    transform: scale(1);
}

.growOnHover2 svg:hover{
    transition: all .1s linear; 
    transform: scale(1.2);
    border-bottom: 2px solid;
}

.growOnHover3{
    transition: all .1s linear; 
    transform: scale(1);
}

.growOnHover3:hover{
    transition: all .1s linear; 
    transform: scale(1.2);
    font-weight:900;
}

.very-very-transparent-background
{
    background-color: rgba(255, 255, 255, 0);
}